body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.color-box.green {
    background-color: green;
    border-radius: 50%;
    width: 13%;
    height: 30px;
    border: none;
    margin: 25%;
    margin-top: -15%;
}

.color-box.red {
    background-color: red;
    border-radius: 50%;
    width: 13%;
    height: 30px;
    border: none;
}

.Botones h1 {
    margin-top: -15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contenedor {
        border: 2px solid white;
        padding: 10px;
}

.btnDecrementar {
    width: 20%;
    height: 25px;
    margin: 5%;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-right: 10%;
    color: white;
    border: none;
}

.btnReset {
    width: 20%;
    height: 25px;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5%;
    color: white;
    border: none;
}

.btnIncrementar {
    width: 20%;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 5%;
    background-color: green;
    margin-right: 10%;
    color: white;
    border: none;
}

.text-success {
    color: green;
  }
  
  .text-danger {
    color: red;
  }
  